@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.App {
  width:auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://t3.ftcdn.net/jpg/05/13/59/72/360_F_513597277_YYqrogAmgRR9ohwTUnOM784zS9eYUcSk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 55px;
  margin: 30px 0;
  color: rgb(21, 148, 222);
  font-weight: 800;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}